#feature {
    display: flex;
    align-items: center;
    width: 500px;
    height: 100px;
}

#feature-icon {
    width: 50px;
    align-self: flex-start;
    margin-right: 30px;
    margin-top: 10px;
}

#feature-content-header {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

#feature-content-text {
    font-weight: bold;
    font-size: .7rem;
}