#home {
    height: 100vh;
    width: 100vw;
    background: url('./backg.png');
    background-position: bottom;
    display: flex;
    flex-direction: column;

}

#home-content {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#phone-img {
    height: 400px;
}

#home-text {
    color: #fff;
    text-align: right;
    align-self: center;
    margin-right: 30px;
}

#home-text-header {
    text-transform: capitalize;
}

#home-text-header > span {
    display: block;
}

#home-text-text {
    width: 300px;
}

#media-btns {
    display: flex;
    justify-content: space-between;
}

#circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background:rgb(26, 77, 160);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}