#contact {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-header {
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
    color: rgb(109, 109, 109);
    font-weight: normal;
    letter-spacing: 2px;
}

#contact-subheader {
    text-align: center;
    color: rgb(109, 109, 109);
    width: 50%;
}

#contact-content {
    margin-top: 50px;
    width: 60%;
    display: flex;
}

#contact-content-info {
    background: #fff;
    padding: 30px 60px;
    height: 60%;
}

.contact-info-header {
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 5px;
}

.contact-content-info-box {
    margin-bottom: 25px;
}

.contact-info-text {
    margin: 0;
    text-transform: capitalize;
}

#contact-content-email {
    text-transform: none;
}

#contact-content-form {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    flex-grow: 1;
}

.form-input {
    border: none;
    background-color: #fff;
    padding: 5px;
}

#msg {
    height: 70%;
}

#name {
    height: 15%;
    margin-bottom: 10px;
}

#email {
    height: 15%;
    margin-bottom: 10px;
}

#contact-btn {
    border: none;
    background-color: #226BE2;
    color: #fff;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    align-self: flex-start;
    transition: all .2s linear;
}

#contact-btn:hover {
    opacity: .8;
}